.InitialStat{
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bolder;
  justify-content: space-between;
  color: white;
  text-shadow: 0px 0px 5px rgb(19, 39, 37);
  font-family: 'Geometry Soft Pro Bold N';
  font-weight: normal;
  font-size: 1rem;

  .block-initial {
    padding-left: 0px;
  }
}

